.root {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.red {
    background-color: #eb3434;
}

.red:hover {
    background-color: #d52f2f;
}

.green {
    background-color: #34eb43;
}

.green:hover {
    background-color: #2dc93a;
}

.text {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    font-size: 40pt;
}