.instruction-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 100%;
    margin-top: auto;
    margin-bottom: 4vh;
    font-family: Arial;
    text-align: center;
    padding: 12px;
}

.image-button {
    background: #f0f0f0;
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 2px;
    border-radius: 20px;
    touch-action: manipulation;
    padding: 12px;
    width: 200px;
    height: 200px;
}

.image-button:active {
    background: #d8d8d8;
    border-color: #e9d700;
    border-style: solid;
    border-width: 2px;
}

.grey-button {
    color: #000000;
    background: #a8a8a8;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    touch-action: manipulation;
    padding: 12px;
}

.grey-button:active {
    background: #B0B0B0;
    border-color: #e9d700;
    border-width: 2px;
}

@media (hover: hover) {
    .image-button:hover {
        background: #d8d8d8;
        cursor: pointer;
    }

    .grey-button:hover {
        background: #B0B0B0;
        cursor: pointer;
    }
}

.fixed-width {
    width: 150px;
}

.large-button-text {
    font-size: 25pt;
}

.medium-button-text {
    font-size: 25pt;
}

.right-margined {
    margin-right: 2.5%;
    margin-left: auto;
}

.left-margined {
    margin-left: 2.5%;
    margin-right: auto;
}

.right-chevron {
    padding: 2px;
    width: 100px;
    height: 100px;
    border: solid 3px transparent;
    margin-right: auto;
    margin-left: 10%;
}

.right-chevron:hover {
    cursor: pointer;
}

.right-chevron:active {
    background: #d7d7d7;
    border: solid 3px #000000;
    border-radius: 3px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .instruction-button-container {
        margin-bottom: 8vh;
    }
}