@import url('buttons.css');
@import url('inputDevices.css');
@import url('participantID.css');
@import url('responseButtons.css');
@import url('text.css');
@import url('transitions.css');


html, body {
    overflow: hidden;
    touch-action: none;
}

video {
    object-fit: fill;
    aspect-ratio: 16 / 9;
    width: 50%;
    border: 2px solid;
}

.typing-container {
    display: flex;
}

.typing-input {
    color: black;
    background: rgb(240, 240, 240);
    font-family: Arial;
    font-size: 60pt;
    text-align: center;
    border: none;
}

.blinking-caret {
    font-family: Arial;
    font-size: 60pt;
    animation: blink 1s step-end infinite;
    color: black;
}

@keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }