@import url('buttons.css');
@import url('inputDevices.css');
@import url('participantID.css');
@import url('responseButtons.css');
@import url('text.css');
@import url('transitions.css');


html, body {
    overflow: hidden;
    touch-action: none;
}

video {
    object-fit: fill;
    aspect-ratio: 16 / 9;
    width: 50%;
    border: 2px solid;
}