
.button-label {
    color: #000000;
    padding: 1%;
    justify-content: center;
    display: flex;
    width: 200px;
    height: 35px;
    font-size: 30px;
}

.response-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 100%;
}