.base-text {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    color: #000000;
    white-space: pre-line;
    line-height: 1.7em;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial;
}

.extra-large-text {
    font-size: 60pt;
}

.large-text {
    font-size: 40pt;
}

.medium-text {
    font-size: 40pt;
}

.small-text {
    font-size: 40pt;
}

.extra-small-text {
    font-size: 40pt;
}

.fixed-height {
    height: 90px;
}

.medium-fixed-height {
    height: 225px;
}

.large-fixed-height {
    height: 275px;
}

.blue {
    color: #0000FF;
}

.red {
    color: #FF0000
}

.green {
    color: green
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .large-text {
        font-size: 33pt;
    }

    .medium-text {
        font-size: 27pt;
    }
}
