.base-text {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    color: #000000;
    white-space: pre-line;
    line-height: 1.7em;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial;
}

.extra-large-text {
    font-size: 60pt;
}

.large-text {
    font-size: 45pt;
}

.medium-text {
    font-size: 33pt;
}

.small-text {
    font-size: 20pt;
}

.extra-small-text {
    font-size: 14pt;
}

.fixed-height {
    height: 90px;
}

.medium-fixed-height {
    height: 225px;
}

.large-fixed-height {
    height: 275px;
}

.blue {
    color: #0000FF;
}

.red {
    color: #FF0000
}

.green {
    color: green
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .large-text {
        font-size: 35pt;
    }

    .medium-text {
        font-size: 22pt;
    }
}
