.stimuli-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 430px;
    margin-bottom: auto;
    justify-content: center;
}

.top-margined {
    margin-top: 5%;
}

.top-auto-margined {
    margin-top: auto;
}

.random-stimulus {
    width: 200px;
    height: 200px;
}

.all-stimuli-container {
    width: 100%;
    margin-bottom: auto;
}

.red-border {
    border: 1px solid #FF0000
}

.black-border {
    border: 1px solid #000000
}

.search-stimuli-container {
    width: 800px;
    max-height: 500px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.search-stimuli {
    width: 300px !important; 
    height: 300px !important; 
    padding: 50px; 
    background: #BEBEBE; 
    border: 1px solid #000000;
}

.search-stimuli-label {
    width: 200px; 
    height: 100%; 
    font-size: 2em;
    text-align: center;
    font-family: Arial;
    color: #000000;
}

.stimuli-row-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.stimulus {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.stimuli-label {
    width: 100%;
    font-size: 22pt;
    text-align: center;
    font-family: Arial;
    color: #000000;
}


/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    .stimuli-row-container {
        margin-bottom: 1vh;
        margin-top: auto;
    }

    .stimulus {
        width: 95px;
        height: 95px;
    }
    
    .stimuli-label {
        width: 100px;
        margin-left: auto;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .top-margined {
        margin-top: 8%;
    }

    .search-stimuli-container {
        margin-top: 12%;
    }

    .random-stimulus {
        width: 300px;
        height: 300px;
    }

    .stimuli-grid {
        width: 630px;
    }
}